name: Build and Release

on:
  push:
    tags:
      - '*'

concurrency:
  group: "release-${{ github.ref_name }}"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'zulu'
          java-package: 'jdk'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Read Minecraft Version
        id: read_version
        run: echo "minecraft_version=$(grep minecraft_version gradle.properties | cut -d'=' -f2)" >> "$GITHUB_OUTPUT"

      - name: Build
        run: ./gradlew build

      - name: Remove *-sources.jar
        run: rm ./build/libs/*-sources.jar || true

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: "Release ${{ github.ref_name }} (MC ${{ steps.read_version.outputs.minecraft_version }})"
          prerelease: false
          generate_release_notes: true
          files: ./build/libs/*.jar
